html, body, #mapCanvas
{
  overflow-x:hidden;
	margin:0;
	padding:0;
	height:100%;
}

#mapCanvas
{
	width: 100%;
  position:absolute;
}
#topRight
{
  margin-top:10px;
  float:right;
  position:relative;
  width: 50%;
}
#addressBar
{
  margin-right: 15px;
  float:right;
  width: 65%;
  text-overflow: ellipsis;
}
#driverAddressBar
{
  width:95%;
  text-overflow: ellipsis;
  position:relative;
  height: 50px;
  margin-top: 5px;
}
#logout
{
  float:right;
  margin-right: 15px;
  color:white;
}
#name
{
  float:right;
  margin-right:15px;
  color:white;
}
#bottom
{
  position:fixed;
  bottom:0px;
  height:35%;
  width:100%;
  background-image:url("loginpage/images/login_background.png");
}
.bottomButton
{
  height: 30%;
  margin-top:5px;
  width: 95%;
  background-color:white;
}
